---
# Styles for fireandlion.com
---

@charset "utf-8";

/*
Styles for: http://fireandlion.com/
Author: Arthur Attwell
Author URI: http://arthurattwell.com/
Description: Fire and Lion website styles
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: fire and lion
*/

// Sizes
$text-width: 30em;
$line-height: 1.4;
$sidebar-width: 10em;

// Fonts
$font-main: "Crimson Text", serif; // https://fonts.google.com/specimen/Crimson+Text
$font-secondary: "Josefin Sans", sans-serif; // https://fonts.google.com/specimen/Josefin+Sans

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Josefin+Sans:600&subset=latin-ext');

// Palette
$dark: #000000;
$mid: #e1e1e1;
$light: #ffffff;

// Mixins
@mixin smallcaps() {
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 100%;
}

// Structure

html, body {
	overflow-x: hidden; // Prevents horizontal scrolling, in conjunction with width/max-width
	width: 100%;
	max-width: 100%;
}
body {
	font-family: $font-main;
	font-size: 1.3em;
	margin: 0;
	padding: 0;
	line-height: $line-height;
	background-color: $light;
}
.wrapper {
	margin: 0 auto;
}

// Masthead

.masthead {
	overflow-x: hidden; // Prevents horizontal scrolling
	position: relative;
	width: 300%;
	left: -100%;
	background-color: $dark;
	height: 2em;
	text-align: center;
	padding: 1em 0 0 0;
	box-shadow: 0 0.05em 0.2em $dark;
}
// On/Off
.masthead { display: none; }


// Sidebar

// Styles for all screens
.sidebar {
	background-color: $dark;
	color: $light;
	box-shadow: 0 0.05em 0.2em $dark;
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			border-bottom: 1px dashed #ffffff;
		}
	}
}
// Mobile-first styles, overridden later for big screens
.sidebar {
	float: none;
	position: static;
	overflow-x: hidden;
	height: auto;
	padding: 0.5em 0.5em;
	.name {
		font-family: $font-secondary;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		margin: 0.1em 1em 0 0;
		float: left;
	}
	.nav-list {
		ul {
			display: inline-block; // Keeps menu together
			margin: 0.05em 0 0 0; // aligns menu with .name
			text-align: left;
			padding: 0; // overrides user-agent
			li {
				display: inline-block;
				margin: 0;
				&:first-of-type {
					display: none; // hide the 'Home' item
				}
				&:after {
					content: " \2022";
				}
				&:last-of-type:after {
					content: normal;
				}
			}
		}
	}
	.logo {
		display: none;
	}
}



// Content

// Styles for all screen sizes
.content {
	min-height: 100vh;
	.content-inner {
		margin: auto;
		max-width: $text-width;
	}
}
// Mobile first, overriden by media queries later
.content {
	margin: 0 0 2em 0;
	padding: 0.5em;
}

.page-info {
	p {
		font-style: italic;
		&.page-info-portfolio {
			text-transform: lowercase;
			&:before {
				content: "In ";
				text-transform: none;
			}
		}
	}
	a {
		border-color: transparent;
		&:hover {
			border-color: $dark;
		}
	}
}

// Page TOCs

#markdown-toc, .page-toc {
	list-style-type: none;
	padding: 0;
	li li {
		list-style-type: none;
	}
}

// Page navigation

.page-navigation {
	font-style: italic;
    font-size: 0.9em;
	letter-spacing: 0.01em;
	// padding: 0 2em;
	a {
		text-decoration: none;
		color: inherit;
		display: inline-flex;
		border-bottom: 1px dashed $light; // to occupy space to be taken up on hover
		& span:hover {
			border-bottom: 1px dashed $dark;
		}
		// reserve space for the dark border-bottom
		& span,
		& .previous-arrow:hover,
		& .next-arrow:hover {
			border-bottom: 1px dashed $light;
		}
	}
	.page-navigation-prev-next {
		display: flex;
		justify-content: space-between;
	    margin: auto;
		.previous {
			width: 50%;
			padding-right: 0.5em;
		}
		.next {
			width: 50%;
			text-align: right;
			padding-left: 0.5em;
		}
		.previous-arrow {
			font-style: normal;
			margin: -0.15em 0.5em 0 0;
		}
		.next-arrow {
			font-style: normal;
			margin: -0.15em 0 0 0.5em;
		}
	}
	.page-navigation-categories {
		margin: auto;
		@include smallcaps();
		font-style: normal;
		font-weight: normal;
		.page-navigation-categories-list {
			list-style-type: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			text-align: center;
			li {
				flex-basis: 8em; // keeps the cats side by side
				width: 8em;
				margin: 0 auto 0.5em auto;
			}
			a {
				padding: 0 0 0.25em 0; // reserve space for padding on hover
				&:hover {
					border-bottom: 1px dashed $dark;
					padding: 0 0 0.25em 0;
				}
			}
		}
	}
}

// Footer

// Styles for all sizes
.footer {
	background-color: $dark;
	p, ul, ol {
		color: $mid;
		font-size: 0.8em;
	}
	a {
		border: 0;
		display: inline-block;
		&:hover {
			border-bottom: 1px dashed $light;
		}
	}
}
// Mobile first, overriden by media queries later
.footer {
	margin: 0;
	padding: 1.5em 2em 0.5em 2em;
	text-align: center;
}

// Typography
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 110%;
	max-width: 80%;
	clear: both;
	a {
		text-decoration: none;
		color: inherit;
	}
}
// Styles for all screen sizes
h1 {
	line-height: 110%;
}
// Mobile styles, overriden by media queries below
h1 {
	font-size: 1.3em;
	margin: 1em 0 0.5em 0;
}
// Styles for all sizes
h2 {
	font-style: italic;
	letter-spacing: 0.01em;
	margin: 2.2em 0 0 0; // 2.2em keeps vertical rhythm with body text
	max-width: inherit;
}
// Mobile styles, overriden by media queries below
h2 {
	font-size: 1.1em;
}
h3, h4, h5, h6 {
	@include smallcaps();
	font-family: $font-main;
	text-align: left;
	line-height: 1.4;
}
p, ol, ul, dl, td {
	margin-top: 0;
	margin-bottom: 1em * $line-height;
	a {
		text-decoration: none;
		color: inherit;
		border-bottom: 1px dashed $dark;
	}
	a:hover {
		text-shadow: 0 0.01em $dark;
	}
}
// except no border under links in tables
td {
	a {
		border: 0;
	}
	a:after {
		content: " \2192"; // 2192 is a right arrow
	}
}
ul, ol {
	padding-left: 1em;
}
blockquote {
	border-left: 1.5px solid $dark;
	margin:  1em 1em 1em 0;
	padding: 0 0 0 1em;
}
blockquote p, blockquote ol, blockquote ul {
	font-style: italic;
}
strong {
	font-weight: 600;
	@include smallcaps();
}
em {
	line-height: 100%;
}
hr {
	border-top: 1px solid #e1e1e1;
	border-bottom: 0; // override user-agent styles
	width: 30%;
	margin: 3em auto;
}

// Buttons

a.button {
	background-color: $dark;
	padding: 0.15em 0.5em;
	margin: 0 0.5em 0.5em 0;
	border-radius: 0.02em;
	display: inline-block;
	color: $light;
	box-shadow: 0 0.05em 0.1em $dark;
	&.light {
		background-color: $light;
		box-shadow: none;
		color: $dark;
		border: 1px solid $dark;
	}
}
a.button:hover {
	box-shadow: 0 0.05em 0.3em $dark;
}

// Map on find-us page

.map {
	filter: grayscale(100%);
}

// Tables

table {
	width: 100%;
	border-collapse: collapse;
}
tr {
	border-top: 1px dashed $dark;
	border-bottom: 1px dashed $dark;
}
th {
	text-align: left;
}
td {
	padding-right: 0.5em;
}

// Images

.content {
	// kramdown puts images in p tags, so to center them,
	// we display block and margin auto.
	img {
		display: block;
		margin: auto;
		max-width: 100%;
	}
	.full-width {
		max-width: calc(100% + 2em);
		margin: 0 0 0 -2em;
		position: relative;
		top: 0;
		z-index: -1;
		.content .full-width img {
			max-width: 100%;
		}
	}
	.fit-height {
		img {
			max-height: 100vh;
			width: auto;
		}
	}
}

// Use this for inline images that start a paragraph 
.image-with-caption {
    font-size: 0.9em;
    padding: 0 1em;
    margin: 3em 0 2em 0;
    font-style: italic;
    text-align: center;
    img {
    	margin-bottom: 0.5em;
    }
}

// Post excerpts

.post-excerpts {
	padding-top: 1em; // Mobile, overridden below for large screens
}
// Styles for all screens
.post-excerpt {
	h3, h4, h5 {
		margin-bottom: 0;
	}
}
// Mobile first, overriden below
.post-excerpt {
	padding: 0 1em;
}
 // This is the div around the image
.post-excerpt-image {
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	a {
		border: 0 !important; // must overide more specific .portfolio .content a
	}
}
// The post author in an excerpt
.post-excerpt-author {
	font-style: italic;
	font-size: 0.9em;
	line-height: $line-height;
	margin: 0.5em 0; //
}
// This is the text in an excerpt
.post-excerpt-text {
	// padding-right: 0.5em;
	.post-excerpt-text-more {
		display: inline-block;
	}
}

// Gallery
// To create a gallery of images, put images one after the other 
// in a paragraph and tag the paragraph {:.gallery}

.gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	img {
		flex: 1 0 10em; // shorthand: flex-grow flex-shrink flex-basis
		width: 10em;
	}
	a {
		border: 0;
	}
}

// Team bios

.bio {
	margin-top: 1em;
	margin-bottom: 2em;
	img {
		max-width: 5em;
		float: right;
		margin-top: -1em;
	}
}

// This for Windows (see https://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/)
@viewport { width: device-width; }
@-ms-viewport { width: device-width; }

// Styles for big screens
@media only screen 
	and (min-width: 60em) {
		h1 {
			font-size: 1.7em;
			margin: 2em 0 1em 0;
			&:first-of-type {
				margin: 5.36em 0 1em 0; // top margin aligns text with Fire and Lion logo lettering
			}
		}
		h2 {
			font-size: 1.5em;
		}
		.sidebar {
			float: left;
			position: fixed;
			width: $sidebar-width;
			top: 0;
			height: 100vh;
			padding: 2em;
			.nav-list {
				ul {
					display: block;
					list-style-type: none;
					text-align: right;
					li {
						margin: 0;
						display: block;
						&:first-of-type {
							display: block; // show the 'Home' item
						}
						&:after {
							display: none;
						}
					}
					&:before {
						content: "";
						display: inline-block;
						border-bottom: 1.5px solid $light;
						width: ($line-height * 2em);
						height: 1em;
					}
					&:after {
						content: "";
						display: inline-block;
						border-top: 1.5px solid $light;
						width: ($line-height * 2em);
						height: 0.5em;
					}
				}
			}
			.name {
				display: none;
			}
			.logo {
				display: block;
				margin: 0 0 1.6em 0; // bottom margin set to align baseline of menu with body text
				padding: 0;
				width: 100%;
				a:hover {
					border: 0;
				}
				img {
					width: 100%;
				}
			}
		}
		.content {
			margin: 0 0 2em ($sidebar-width + 4em);
			padding: 0 2em;
			.post-excerpts {
				padding-top: 2em;
			}
			.post-excerpt {
				padding: 0 2em;
			}
		}
		.page-info {
			position: absolute;
			top: 7.5em; // just above the heading
			p {
				// override base, mobile-first styles
				@include smallcaps();
				font-style: normal;
				&.page-info-portfolio {
					@include smallcaps();
					&:before {
						content: normal;
						text-transform: none;
					}
				}
			}
		}
		.footer {
			margin: 0 0 0 ($sidebar-width + 4em);
		}
	}

@media print { 
	.sidebar {
		background-color: white;
		.name {
			color: black;
			font-size: 2em;
		}
		.nav-list {
			display: none;
		}
	}
	.footer {
		display: none;
	}
	.post-excerpt-text-more {
		display: none!important; // overrides more specific inline-block
	}
	a {
		border-color: transparent!important; // overrides more specific inline-block
		&.button {
			display: none;
		}
	}
	#markdown-toc {
		display: none;
	}
}
