<!doctype html>
<html>
<head>
	<title>{{ site.data.settings.name }}: {{ page.title | markdownify | strip_html }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<meta property="og:title" content="{{ site.data.settings.name }}: {{ page.title | markdownify | strip_html }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.data.settings.url }}{{ page.url }}" />
	<meta property="og:image" content="{{ site.data.settings.url }}/images/{% if page.image %}{{ page.image }}{% else %}{{ site.data.settings.image }}{% endif %}" />
	<meta property="og:description" content="{% if page.description %}{{ page.description | markdownify | strip_html }}{% else %}{{ page.excerpt | markdownify | strip_html }}{% endif %}" />
	<meta property="og:site_name" content="{{ site.data.settings.name }}" />
	
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/screen.css" />
	
	<!-- Icons created with http://realfavicongenerator.net/ -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/images/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/images/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/images/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/images/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/images/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/images/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/images/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/images/icons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/images/icons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="{{site.baseurl}}/images/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{site.baseurl}}/images/icons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{site.baseurl}}/images/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{{site.baseurl}}/images/icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{site.baseurl}}/images/icons/manifest.json">
	<link rel="mask-icon" href="{{site.baseurl}}/images/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{{site.baseurl}}/images/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="{{site.baseurl}}/images/icons/mstile-144x144.png">
	<meta name="msapplication-config" content="{{site.baseurl}}/images/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
</head>
<body class="{{ page.style }}">
<div class="wrapper">

<div class="sidebar">
	<div class="name">
		<a href="{{site.baseurl}}/">
			{{ site.data.settings.name }}
		<a href="{{site.baseurl}}/">
	</div>
	<div class="logo">
		<a href="{{site.baseurl}}/">
			<img alt="{{ site.data.settings.name }}" src="{{site.baseurl}}/images/{{ site.data.settings.logo }}" />
		</a>
	</div>
	{% include nav.html %}
</div><!--.sidebar-->

<div class="masthead">
</div><!--.masthead-->