{% comment %}If this is a post and it's in a category,
add links to the next and previous posts.{% endcomment %}
{% if page.categories %}

    <hr>

    <div class="page-navigation">

        {% comment %}In the Thinking category, we want next/previous page navigation{% endcomment %}
        {% if page.categories contains "thinking" %}

            <div class="page-navigation-prev-next">

                <div class="previous">
                    {% if page.previous.url and page.previous.categories contains "thinking" %}
                        <a href="{{ site.baseurl }}{{ page.previous.url }}">
                            <span class="previous-arrow">←</span>
                            <span class="previous-title">{{ page.previous.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</span>
                        </a>
                    {% endif %}
                </div>

                <div class="next">
                    {% if page.next.url and page.next.categories contains "thinking" %}
                        <a href="{{ site.baseurl }}{{page.next.url}}">
                            <span class="next-title">{{ page.next.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</span>
                            <span class="next-arrow">→</span>
                        </a>
                    {% endif %}
                </div>

            </div><!--.page-navigation-->

        {% else %}

            <div class="page-navigation-prev-next">

                {% include collection-pagination.html %}

            </div><!--.page-navigation-->

        {% endif %}

    </div><!--.page-navigation-->

{% endif %}
